# Environnement virtuel
env/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3

# Variables secrètes
.env

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

interventions/static/